@media (max-width: 992px) {
    .container {
        width: 90%;
        /* padding: 0px 30px; */
        /* background: rebeccapurple; */
    }

    #nav .mobile_menu {
        display: none;
    }

    #nav .mobile-bar {
        /* background: yellowgreen; */
    }



    #nav .mobile-bar {
        display: block;
        color: var(--neutral-grey);
    }

    #nav .sign_up {
        display: none;
    }

    /*-- ========== BANNER START ==================== --*/


    #banner .container .contains {
        width: 100%;
    }

    #banner .container .contains h4 {
        font-size: 32px;
    }
    
    #banner{
        /* background: var(--action-error); */
        padding: 30px 0px;
    }

    #banner .container .image{
        width: 100%;
        text-align: center;
    }

    #banner .container .image img{
        width: 100%;
    }

    #banner .container .slides{
        /* background: #9fa1b1; */
        margin-top: 0px;
    }

    /*-- ========== BANNER END ==================== --*/


}